

@mixin fadeIn($dur: 1s) {
    animation-name: fadeIn;
    animation-duration: $dur;
    animation-fill-mode: forwards;
    opacity: 0;

    @keyframes fadeIn {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }
}